    <h1>Players</h1>
    <table class="table table-hover">
      <tr>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Team ID</th>
        <th>Jersey Number</th>
        <th>Position</th>
        <th>Suspended</th>
        <th>Injured</th>
        <th>Deleted</th>
      </tr>
      <% players.forEach(function(player) { %>
        <tr>
          <td><%= player.player_id %></td>
          <td><%= player.name %></td>
          <td><%= player.team_id %></td>
          <td><%= player.jersey_number %></td>
          <td><%= player.position %></td>
          <td><%= player.suspended %></td>
          <td><%= player.injured %></td>
          <td><%= player.deleted %></td>
        </tr>
      <% }); %>
    </table>
